body {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.module {
    margin-right: 1rem;
}

.completed {
    /*display: flex;*/
    padding: 0 1.5rem;
    justify-content: center;
}

th, td {
    background-color: lightblue;
    padding: 0.3rem 1rem;
    border: 1px solid #ccc;
}

th {
    background-color: lightcyan;
}
